@import
	url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap")
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

header {
	background-color: whitesmoke;
	height: 150px;
	position: relative;
}

nav {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 50px 0 50px;
}

nav h1 {
	font-size: 50px;
	font-weight: 400;
}

nav h3 {
	font-size: 20px;
	font-weight: 300;
}

.nav-right #logout {
	padding: 5px;
	border-radius: 3px;
	border-style: none;
	text-decoration: none;
	font-size: 15px;
	background-color: rgb(223, 95, 95);
	color: white;
}

.container {
	display: flex;
	justify-content: left;
	flex-flow: row wrap;
	margin: 30px 0px 30px 30px;
}

.list-cart {
	width: 90%;
	position: relative;
	margin: 20px;
}

.header-cart {
	display: flex;
	justify-content: space-between;
}

.header-cart #clear {
	background: transparent url(../img/icons8-clear-symbol-24.png) center
		left 5px no-repeat;
	padding: 5px 5px 5px 35px;
	border-style: none;
	text-decoration: none;
	background-color: rgb(245, 76, 76);
	color: white;
	border-radius: 3px;
}

.header-cart #checkout {
	background: transparent url(../img/icon-cart-white.png) center left
		5px no-repeat;
	padding: 5px 5px 5px 30px;
	border-style: none;
	text-decoration: none;
	background-color: rgb(14, 179, 22);
	color: white;
	border-radius: 3px;
}

.table-list-cart {
	margin: 5px;
}

.table-list-cart table {
	border-collapse: collapse;
	width: 100%;
	font-size: 15px;
}

.table-list-cart tr {
	border-top: 2px solid whitesmoke;
	height: 40px;
}

.table-list-cart th {
	text-align: left;
}

.table-list-cart #product-name {
	width: 35%;
}

.table-list-cart #quantity {
	width: 15%;
}

.table-list-cart #unit-price {
	width: 15%;
}

.table-list-cart #prices {
	width: 15%;
}

.table-list-cart #action {
	width: 20%;
}

.table-list-cart #total {
	font-weight: bold;
}

.table-list-cart #remove {
	background: transparent url(../img/icons8-remove-24.png) center left
		5px no-repeat;
	padding: 5px 5px 5px 30px;
	text-decoration: none;
	background-color: rgb(245, 76, 76);
	color: white;
	border-radius: 3px;
	border-style: none;
}

.return #return {
	background: transparent url(../img/icons8-go-back-24.png) center left
		5px no-repeat;
	padding: 5px 5px 5px 30px;
	text-decoration: none;
	background-color: rgb(14, 179, 22);
	color: white;
	border-radius: 3px;
}